{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if is_granted('ROLE_ADMIN') %}
                        <h1 class="page-header">{{ 'admin.subjects.add.title'|trans }}</h1>

                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('route_admin_subjects')  }}">
                                    <i class="fa fa-fw fa-book"></i>
                                    {{ 'admin.side-navig.subjects'|trans }}
                                </a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-plus-circle"></i>
                                {{ 'admin.subjects.add.title'|trans }}
                            </li>
                        </ol>

                        <form class="form-horizontal" role="form" method="POST" action="{{ url }}">
                            <div class="form-group">
                                <div>
                                    {{ form_errors(form.name) }}
                                </div>
                                <div class="col-md-2 control-label">
                                    {{ form_label(form.name, 'subject.add.name'|trans) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    {{ form_errors(form.schoolYear) }}
                                </div>
                                <div class="col-md-2 control-label">
                                    {{ form_label(form.schoolYear, 'subject.add.school_year'|trans) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form.schoolYear, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    {{ form_errors(form.season) }}
                                </div>
                                <div class="col-md-2 control-label">
                                    {{ form_label(form.season, 'subject.add.season'|trans) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form.season, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    {{ form_errors(form.userLimit) }}
                                </div>
                                <div class="col-md-2 control-label">
                                    {{ form_label(form.userLimit, 'subject.add.user_limit'|trans) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form.userLimit, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    {{ form_errors(form.weeks) }}
                                </div>
                                <div class="col-md-2 control-label">
                                    {{ form_label(form.weeks, 'subject.add.weeks'|trans) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form.weeks, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    {{ form_errors(form.about) }}
                                </div>
                                <div class="col-md-2 control-label">
                                    {{ form_label(form.about, 'subject.add.about'|trans) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form.about, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="hidden">
                                {{ form_widget(form._token) }}
                            </div>

                            <div class="form-group">
                                <button class="col-md-3 col-md-offset-2 btn btn-success" type="submit">{{ 'subject.add.submit'|trans }}</button>
                            </div>
                        </form>

                    {% else %}
                        <div class="title">{{ 'permission.warning.title'|trans }}</div>
                        <p class="empty">{{ 'permission.denied.admin'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock robisk_application_content %}