{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}

    <!--kedysi existoval odkaz v common.sidebar.html.twig na t[to stránku...-->

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if is_granted('ROLE_ADMIN') %}

                        <h1 class="page-header">{{ 'admin.title'|trans }}</h1>
                        <h2 class="page-header">{{ 'subjects.active.show'|trans }}</h2>

                        {% if activeSubjects is not empty %}

                        {% else %}
                            <p class="empty">{{ 'subjects.active.empty'|trans }}</p>
                        {% endif %}

                    {% else %}
                        <div class="title">{{ 'permission.warning.title'|trans }}</div>
                        <p class="empty">{{ 'permission.denied.admin'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock robisk_application_content %}
