{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ 'user.login.titleReset'|trans }}</h1>

                    <form class="form-horizontal" role="form"  method="POST">
                      <div class="form-group">
                          <div>
                              {{ form_errors(form.password.password) }}
                          </div>
                          <div class="col-md-2 control-label">
                              {{ form_label(form.password.password, 'user.login.newPassword'|trans) }}
                          </div>
                          <div class="col-md-3">
                              {{ form_widget(form.password.password, {'attr': {'class': 'form-control'}}) }}
                          </div>
                      </div>

                      <div class="form-group">
                          <div>
                              {{ form_errors(form.password.confirm) }}
                          </div>
                          <div class="col-md-2 control-label">
                              {{ form_label(form.password.confirm, 'user.login.passwordAgain'|trans) }}
                          </div>
                          <div class="col-md-3">
                              {{ form_widget(form.password.confirm, {'attr': {'class': 'form-control'}}) }}
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-2"></div>
                        <button class="col-md-3 btn btn-success" type="submit">
                          <i class="fa fa-send"></i>
                          {{ 'user.login.doReset'|trans }}</button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock robisk_application_content %}
