<ul class="nav navbar-nav side-nav">
    {% if is_granted('ROLE_ADMIN') %}
        <!--<li>
            <a href="{{ path('route_admin') }}">
                <i class="fa fa-fw fa-cog"></i>
                {{ 'header.admin'|trans }}
            </a>
        </li>-->
        <li>
            <a href="{{ path('route_admin_subjects') }}">
                <i class="fa fa-fw fa-book"></i>
                {{ 'header.admin.subjects'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('route_admin_users') }}">
                <i class="fa fa-fw fa-users"></i>
                {{ 'header.admin.users'|trans }}
            </a>
        </li>
    {% else %}
        {% if app.user is not null %}
            <li>
                <a href="{{ path('route_subjects') }}">
                    <i class="fa fa-fw fa-book"></i>
                    {{ 'navig.subjects'|trans }}
                </a>
            </li>
        {% endif %}
    {% endif %}
</ul>
