{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}
	{% include 'RobiskApplicationBundle:Common:flash_messenger.html.twig' %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if is_granted('ROLE_ADMIN') %}

                        <h1 class="page-header">{{ 'admin.subjects.title'|trans }}</h1>

                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-fw fa-book"></i>
                                {{ 'admin.subjects.title'|trans }}
                            </li>
                        </ol>

                        <div class="col-md-12">
                            <a class="btn btn-success" href="{{ path('route_admin_subject_add') }}">
                                <i class="fa fa-fw fa-plus-circle"></i>
                                {{ 'admin.subjects.add'|trans }}
                            </a>
                            <hr>
                        </div>

                        <table class="table">
                            <tr>
                                <th>{{ 'table.name'|trans }}</th>
                                <th>{{ 'table.schoolYear'|trans }}</th>
                                <th>{{ 'table.season'|trans }}</th>
                                <th>{{ 'table.user.count'|trans }}</th>
                                <th>{{ 'table.status'|trans }}</th>
                                <th>{{ 'table.options'|trans }}</th>
                            </tr>
                            {% set i = 0 %}
                            {% for subject in subjects %}
                                {% if i % 2 == 0 %}
                                    <tr class="row-a">
                                {% else %}
                                    <tr class="row-b">
                                {% endif %}
                                {% if subject.status == 1 %}
                                    {% set status = 'subject.active.true'|trans %}
                                {% else %}
                                    {% set status = 'subject.active.false'|trans %}
                                {% endif %}
                                {% if subject.season == 1 %}
                                    {% set season = 'subject.season.summer'|trans %}
                                {% else %}
                                    {% set season = 'subject.season.winter'|trans %}
                                {% endif %}
                                <td>{{ subject.name }}</td>
                                <td>{{ subject.schoolYear }}</td>
                                <td>{{ season }}</td>
                                <td>{{ subject.getApprovedUsers()|length }}/{{ subject.userLimit }}</td>
                                <td>{{ status }}</td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="{{ path('route_admin_subject_edit', {'id': subject.id}) }}">
                                        <i class="fa fa-fw fa-pencil"></i>
                                        {{ 'table.edit'|trans }}
                                    </a>
                                </td>
                                </tr>
                                {% set i = i +1 %}
                            {% endfor %}
                        </table>


                    {% else %}
                        <div class="title">{{ 'permission.warning.title'|trans }}</div>
                        <p class="empty">{{ 'permission.denied.admin'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock robisk_application_content %}