{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}
    {% set unapproved = 0 %}
    {% if subject.getUnapprovedUsers()|length > 0 %}
        {% set unapproved = 1 %}
    {% endif %}
    {% set approved = 0 %}
    {% if subject.getApprovedUsers()|length > 0 %}
        {% set approved = 1 %}
    {% endif %}
    {% set declined = 0 %}
    {% if subject.getDeclinedUsers()|length > 0 %}
        {% set declined = 1 %}
    {% endif %}
    {% set columns = unapproved + approved + declined %}
    {% set parser = 0 %}
    {% if columns > 0 %}
        {% set parser = 12/columns %}
    {% endif %}
    {% if columns == 1 %}
        {% set parser = 6 %}
    {% endif %}


    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if is_granted('ROLE_ADMIN') %}
                        <h1 class="page-header">{{ subject.name }}</h1>

                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('route_admin_subjects')  }}">
                                    <i class="fa fa-fw fa-book"></i>
                                    {{ 'admin.side-navig.subjects'|trans }}
                                </a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-pencil"></i>
                                {{ subject.name }}
                            </li>
                        </ol>

                        <div class="col-md-12">
                            <a class="btn btn-info" href="{{ path('route_admin_subject_settings',
                            {'id': subject.id}) }}">
                                <i class="fa fa-fw fa-gears"></i>
                                {{ 'subject.settings'|trans }}
                            </a>
                            <a class="btn btn-info" href="{{ path('route_admin_announcements',
                            {'id': subject.id}) }}">
                                <i class="fa fa-fw fa-pencil"></i>
                                {{ 'subject.edit.announcement.list'|trans }}
                            </a>
                            <a class="btn btn-info" href="{{ path('route_teacher_presentation',
                                {'id': subject.id}) }}">
                                <i class="fa fa-fw fa-book"></i>
                                {{ 'subject.teacherPresentation'|trans }}
                            </a>
                            <a class="btn btn-info" href="{{ path('route_send_mail',
                                {'id': subject.id}) }}">
                                <i class="fa fa-fw fa-envelope"></i>
                                {{ 'subject.sendMail'|trans }}
                            </a>
                            <hr>
                        </div>

                        <div class="col-md-6">
                            <form class="form-horizontal" role="form" method="POST" action="{{ url }}">
                                <div class="form-group">
                                    <div>
                                        {{ form_errors(form.name) }}
                                    </div>
                                    <div class="col-md-4 control-label">
                                        {{ form_label(form.name, 'subject.add.name'|trans) }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        {{ form_errors(form.schoolYear) }}
                                    </div>
                                    <div class="col-md-4 control-label">
                                        {{ form_label(form.schoolYear, 'subject.add.school_year'|trans) }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form_widget(form.schoolYear, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        {{ form_errors(form.season) }}
                                    </div>
                                    <div class="col-md-4 control-label">
                                        {{ form_label(form.season, 'subject.add.season'|trans) }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form_widget(form.season, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        {{ form_errors(form.userLimit) }}
                                    </div>
                                    <div class="col-md-4 control-label">
                                        {{ form_label(form.userLimit, 'subject.add.user_limit'|trans) }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form_widget(form.userLimit, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        {{ form_errors(form.weeks) }}
                                    </div>
                                    <div class="col-md-4 control-label">
                                        {{ form_label(form.weeks, 'subject.add.weeks'|trans) }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form_widget(form.weeks, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        {{ form_errors(form.valPresentation) }}
                                    </div>
                                    <div class="col-md-4 control-label">
                                        {{ form_label(form.valPresentation, 'subject.edit.val_presentation'|trans) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form.valPresentation, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div>
                                        {{ form_errors(form.valAttendance) }}
                                    </div>
                                    <div class="col-md-4 control-label">
                                        {{ form_label(form.valAttendance, 'subject.edit.val_attendance'|trans) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form.valAttendance, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">

                                </div>

                                <div class="form-group">
                                    <div>
                                        {{ form_errors(form.about) }}
                                    </div>
                                    <div class="col-md-4 control-label">
                                        {{ form_label(form.about, 'subject.add.about'|trans) }}
                                    </div>
                                    <div class="col-md-8">
                                        {{ form_widget(form.about, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="hidden">
                                    {{ form_widget(form._token) }}
                                </div>

                                <div class="form-group">
                                    <button class="col-md-8 col-md-offset-4 btn btn-success" type="submit">{{ 'subject.edit.submit'|trans }}</button>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-6">
                            <h3>{{ 'subject.edit.attendance.settings'|trans }}</h3>
                            {% if subject.getUnlockedAttendance() is not null %}
                                <a class="btn btn-danger" href="{{ path('route_admin_subject_attendance_lock',
                                {'id': subject.id}) }}">
                                    <i class="fa fa-fw fa-lock"></i>
                                    {{ 'subject.edit.attendance.lock'|trans }}
                                </a>
                            {% else %}
                                <a class="btn btn-success" href="{{ path('route_admin_subject_attendance_add',
                                {'id': subject.id}) }}">
                                    <i class="fa fa-fw fa-plus-circle"></i>
                                    {{ 'subject.edit.attendance.add'|trans }}
                                </a>
                            {% endif %}
                            <a class="btn btn-info" href="{{ path('route_admin_subject_attendance_students',
                            {'id': subject.id}) }}">
                                <i class="fa fa-fw fa-users"></i>
                                {{ 'subject.edit.attendance.students'|trans }}
                            </a>
                        </div>

                        <div class="col-md-12">
                            <h3>{{ 'subject.edit.lessons'|trans }}</h3>

                            <table class="table">
                                <tr>
                                    <th></th>
                                    {% for num in 1..subject.weeks %}
                                        {% if num < 10 %}
                                            {% set cislo = '0' %}
                                        {% else %}
                                            {% set cislo = '' %}
                                        {% endif %}
                                        <th>{{ cislo }}{{ num }}. {{ 'subject.attendance.exercise'|trans }}</th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>{{ 'subject.attendance.date'|trans }}</th>
                                    {% for attendance in subject.attendances %}
                                        {% if attendance.status == 1 %}
                                            <td>{{ attendance.date|date('d.m.Y') }}</td>
                                        {% else %}
                                            <td class="text-warning" title="{{ 'subject.attendance.unlocked.warning'|trans }}">{{ attendance.date|date('d.m.Y') }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </table>

                            {% if parser > 0 %}
                                {% if subject.getApprovedUsers()|length > 0 %}
                                <div class="col-md-{{ parser }}">
                                    <h3>{{ 'subject.edit.users.approved'|trans }}</h3>
                                    <table class="table">
                                        <tr>
                                            <th>{{ 'table.user'|trans }}</th>
                                            <th>{{ 'table.options'|trans }}</th>
                                        </tr>
                                        {% set i = 0 %}
                                        {% for student in subject.getApprovedUsers() %}
                                            {% if i % 2 == 0 %}
                                                <tr>
                                            {% else %}
                                                <tr>
                                            {% endif %}
                                            <td>{{ student.getNameRev() }}</td>
                                            <td>
                                                {% if student.getPresentation(subject.id) != null %}
                                                    <a class="btn btn-xs btn-success" href="{{ path('route_admin_subject_user_presentation',
                                                    {'id': subject.id, 'userId': student.id}) }}">
                                                        <i class="fa fa-fw fa-film"></i>
                                                        {{ 'subject.user.presentation'|trans }}
                                                    </a>
                                                {% endif %}
                                                <a class="btn btn-xs btn-info" href="{{ path('route_admin_subject_user_valuation',
                                                {'id': subject.id, 'userId': student.Id}) }}">
                                                    <i class="fa fa-fw fa-calculator"></i>
                                                    {{ 'subject.user.valuation'|trans }}
                                                </a>
                                                <a class="btn btn-xs btn-danger" href="{{ path('route_admin_subject_user_decline',
                                                {'id': subject.id, 'userId': student.id}) }}">
                                                    <i class="fa fa-fw fa-thumbs-down"></i>
                                                    {{ 'subject.user.unapprove'|trans }}
                                                </a>
                                            </td>
                                            </tr>
                                            {% set i = i +1 %}
                                        {% endfor %}
                                    </table>
                                </div>
                                {% endif %}

                                {% if subject.getUnapprovedUsers()|length > 0 %}
                                <div class="col-md-{{ parser }}">
                                    <h3>{{ 'subject.edit.users.unapproved'|trans }}</h3>
                                    <a class="btn btn-success" href="{{ path('route_admin_subject_user_approve_all',
                                    {'id': subject.id}) }}">
                                        <i class="fa fa-fw fa-thumbs-up"></i>
                                        {{ 'subject.user.approve.all'|trans }}
                                    </a>
                                    <table class="table">
                                        <tr>
                                            <th>{{ 'table.user'|trans }}</th>
                                            <th>{{ 'table.options'|trans }}</th>
                                        </tr>
                                        {% set i = 0 %}
                                        {% for student in subject.getUnapprovedUsers() %}
                                            {% if i % 2 == 0 %}
                                                <tr>
                                            {% else %}
                                                <tr>
                                            {% endif %}
                                            <td>{{ student.getNameRev() }}</td>
                                            <td>
                                                <a class="btn btn-xs btn-success" href="{{ path('route_admin_subject_user_approve',
                                                {'id': subject.id, 'userId': student.id}) }}">
                                                    <i class="fa fa-fw fa-thumbs-up"></i>
                                                    {{ 'subject.user.approve'|trans }}
                                                </a>
                                                <a class="btn btn-xs btn-danger" href="{{ path('route_admin_subject_user_decline',
                                                {'id': subject.id, 'userId': student.id}) }}">
                                                    <i class="fa fa-fw fa-thumbs-down"></i>
                                                    {{ 'subject.user.decline'|trans }}
                                                </a>
                                            </td>
                                            </tr>
                                            {% set i = i +1 %}
                                        {% endfor %}
                                    </table>
                                </div>
                                {% endif %}

                                {% if subject.getDeclinedUsers()|length > 0 %}
                                <div class="col-md-{{ parser }}">
                                    <h3>{{ 'subject.edit.users.declined'|trans }}</h3>
                                    <table class="table">
                                        <tr>
                                            <th>{{ 'table.user'|trans }}</th>
                                            <th>{{ 'table.options'|trans }}</th>
                                        </tr>
                                        {% set i = 0 %}
                                        {% for student in subject.getDeclinedUsers() %}
                                            {% if i % 2 == 0 %}
                                                <tr>
                                            {% else %}
                                                <tr>
                                            {% endif %}
                                            <td>{{ student.getNameRev() }}</td>
                                            <td>
                                                <a class="btn btn-xs btn-success" href="{{ path('route_admin_subject_user_approve',
                                                {'id': subject.id, 'userId': student.id}) }}">
                                                    <i class="fa fa-fw fa-thumbs-up"></i>
                                                    {{ 'subject.user.approve'|trans }}
                                                </a>
                                            </td>
                                            </tr>
                                            {% set i = i +1 %}
                                        {% endfor %}
                                    </table>
                                </div>
                                {% endif %}

                            {% else %}

                            {% endif %}

                        </div>



                    {% else %}
                        <div class="title">{{ 'permission.warning.title'|trans }}</div>
                        <p class="empty">{{ 'permission.denied.admin'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>






		{% if action == 'edit' %}







		{% endif %}


{% endblock robisk_application_content %}