{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}
	{% include 'RobiskApplicationBundle:Common:flash_messenger.html.twig' %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% if is_granted('ROLE_ADMIN') %}

                            <h1 class="page-header">{{ 'admin.subjects.user.valuation.title'|trans }}: {{ student.getName() }}</h1>

                            <ol class="breadcrumb">
                                <li>
                                    <a href="{{ path('route_admin_subjects')  }}">
                                        <i class="fa fa-fw fa-book"></i>
                                        {{ 'admin.side-navig.subjects'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('route_admin_subject_edit',
                                    {'id': subject.id}) }}">
                                        <i class="fa fa-fw fa-pencil"></i>
                                        {{ subject.name }}
                                    </a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-fw fa-calculator"></i>
                                    {{ 'admin.subjects.user.valuation.title'|trans }}: {{ student.getName() }}
                                </li>
                            </ol>

                            <h3>{{ 'admin.subjects.user.valuation.attendance'|trans }}</h3>

                            <table class="table">
                                <tr>
                                    <th></th>
                                    {% for num in 1..subject.weeks %}
                                        {% if num < 10 %}
                                            {% set cislo = '0' %}
                                        {% else %}
                                            {% set cislo = '' %}
                                        {% endif %}
                                        <th>{{ cislo }}{{ num }}. {{ 'subject.attendance.exercise'|trans }}</th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>{{ 'subject.attendance.date'|trans }}</th>
                                    {% for attendance in subject.attendances %}
                                        <td class="small">{{ attendance.date|date('d.m.Y') }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>{{ 'subject.attendance.points'|trans }}</th>
                                    {% for attendance in subject.attendances %}
                                        <td>
                                            {% if attendance in student.getMyAttendances() %}
                                                <span>1</span>
                                            {% else %}
                                                <span>0</span>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>

                            <h3>{{ 'subject.view.mark.title'|trans }}</h3>
                            <table class="table">
                                <tr>
                                    <th>{{ 'subject.view.mark.point'|trans }}</th>
                                    <th>{{ 'subject.view.mark.points'|trans }}</th>
                                    <th>{{ 'subject.view.mark.max'|trans }}</th>
                                </tr>
                                <tr>
                                    <td>{{ 'subject.view.mark.point.presentation'|trans }}</td>
                                    <td>{{ usl.getPresentationPoints()|round(2) }}</td>
                                    <td>{{ subject.getValPresentation }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'subject.view.mark.point.attendance'|trans }}</td>
                                    <td>{{ usl.getAttendancePoints()|round(2) }}</td>
                                    <td>{{ subject.getValPresentation }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'subject.view.mark.point.summ'|trans }}</td>
                                    <td>{{ usl.getPointsCount()|round(2) }}</td>
                                    <td>{{ subject.getValSum }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'subject.view.mark.point.mark'|trans }}</th>
                                    <th>{{ usl.getMark() }}</th>
                                    <th></th>
                                </tr>
                            </table>

                        {% else %}
                            <div class="title">{{ 'permission.warning.title'|trans }}</div>
                            <p class="empty">{{ 'permission.denied.admin'|trans }}</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

{% endblock robisk_application_content %}