{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}
	{% include 'RobiskApplicationBundle:Common:flash_messenger.html.twig' %}
    {% if presentation == null %}
        {% set presentation = student.getPresentation(subject.id) %}
    {% endif %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if is_granted('ROLE_ADMIN') %}

                        <h1 class="page-header">{{ 'admin.subjects.user.presentation.title'|trans }}: {{ student.getNameRev }}</h1>

                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('route_admin_subjects')  }}">
                                    <i class="fa fa-fw fa-book"></i>
                                    {{ 'admin.side-navig.subjects'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('route_admin_subject_edit',
                                {'id': subject.id}) }}">
                                    <i class="fa fa-fw fa-pencil"></i>
                                    {{ subject.name }}
                                </a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-film"></i>
                                {{ 'admin.subjects.user.presentation.title'|trans }}: {{ student.getNameRev }}
                            </li>
                        </ol>

                        <h3>{{ 'admin.subjects.user.presentation.title'|trans }}</h3>
                        <p>
                            {{ 'admin.subjects.user.presentation.download'|trans }}:
                            <a class="btn btn-xs btn-success" href="{{ path('route_admin_subject_user_presentation_download',
                            {'id': subject.id, 'userId': student.id}) }}">
                                <i class="fa fa-fw fa-download"></i>
                                {{ presentation.title }}
                            </a>
                        </p>

                        {% set tmp = 1 %}
                        ({% for coWorker in presentation.getUsers %}
                            {% if tmp == 1 %}
                                {{ coWorker.getNameRev }}
                            {% else %}
                                , {{ coWorker.getNameRev }}
                            {% endif %}
                            {% set tmp = tmp +1 %}
                        {% endfor %})

                        <h3>{{ 'admin.subjects.user.presentation.status'|trans }}:
                            {% if presentation.status == 0 %}
                                {% set status = 'admin.subjects.user.presentation.status.notPresented'|trans %}
                            {% endif %}
                            {% if presentation.status == 1 %}
                                {% set status = 'admin.subjects.user.presentation.status.presented'|trans %}
                            {% endif %}
                            {% if presentation.status == 2 %}
                                {% set status = 'admin.subjects.user.presentation.status.valuated'|trans %}
                            {% endif %}
                            {{ status }}
                        </h3>

                        <p class="error">{{ 'admin.subject.user.presentation.status.change.title'|trans }}:
                            {% if presentation.status == 0 or presentation.status == 2 %}
                                <a class="btn btn-xs btn-warning" href="{{ path('route_admin_subject_user_presentation_set_status',
                                {'id': subject.id, 'userId': student.id, 'status':1}) }}">
                                    <i class="fa fa-fw fa-history"></i>
                                    {{ 'admin.subject.user.presentation.status.change.presented'|trans }}
                                </a>
                            {% endif %}
                            {% if presentation.status == 1 %}
                                <a class="btn btn-xs btn-warning" href="{{ path('route_admin_subject_user_presentation_set_status',
                                {'id': subject.id, 'userId': student.id, 'status':2}) }}">
                                    <i class="fa fa-fw fa-history"></i>
                                    {{ 'admin.subject.user.presentation.status.change.valuated'|trans }}
                                </a>
                            {% endif %}
                        </p>
                        <br>

                        {% if presentation.getComments()|length > 0 %}
                            {% for comment in presentation.getComments() %}

                                {% if comment.user.getId() == user.getId() %}
                                    {% set color = '#e6f7ff' %}
                                {% else %}
                                    {% set color = '#ffffff' %}
                                {% endif %}
                                <div class="col-sm-5" style="width:50%; clear:both">
                                    <div class="panel panel-default" style="background-color: {{ color }}">
                                        <div class="panel-heading">
                                            <strong>{{ comment.user.firstName }} {{ comment.user.lastName }}</strong> <span class="text-muted">{{ 'comments.commented'|trans }} {{ comment.date|date("d.m.Y H:i:s") }}</span>
                                            <a href="{{ path('route_user_presentation_forum_delete', {'id': subject.id, 'userId': student.getId(), 'presentationId': presentation.getId(), 'commentId': comment.getId()}) }}"
                                               class="btn btn-xs btn-danger" style="float:right; margin-right:10px;padding-top:4px">
                                                <i class="glyphicon glyphicon-remove" style="font-size: 1.25em"></i>
                                            </a>
                                        </div>
                                        <div class="panel-body">
                                            {{ comment.content }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>{{ 'comments.empty'|trans }}</p>
                            <br>
                        {% endif %}

                        <form class="form-horizontal" role="form" method="POST" action="{{ url }}">
                            <div class="form-group">
                                <div>
                                    {{ form_errors(form.content) }}
                                </div>
                                <div class="col-md-7">
                                    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '4', 'style': 'width:85%;overflow-x: hidden;margin-left: 5px'}}) }}
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 5px">
                                <button class="col-md-2 btn btn-info" type="submit">
                                    <i class="fa fa-fw fa-plus-circle"></i>
                                    {{ 'comments.add'|trans }}</button>
                            </div>
                        </form>

                    {% else %}
                        <div class="title">{{ 'permission.warning.title'|trans }}</div>
                        <p class="empty">{{ 'permission.denied.admin'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock robisk_application_content %}
