{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if is_granted('ROLE_ADMIN') %}

                        <h1 class="page-header">{{ announcement.getTitle() }}</h1>

                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('route_admin_subjects')  }}">
                                    <i class="fa fa-fw fa-book"></i>
                                    {{ 'admin.side-navig.subjects'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('route_admin_subject_edit',
                                    {'id': subject.id}) }}">
                                    <i class="fa fa-fw fa-pencil"></i>
                                    {{ subject.name }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('route_admin_announcements',
                                    {'id': subject.id}) }}">
                                    <i class="fa fa-fw fa-envelope"></i>
                                    {{ 'announcements.title'|trans }}
                                </a>
                            </li>

                            <li class="active">
                                <i class="fa fa-fw fa-envelope"></i>
                                {{ announcement.getTitle() }}
                            </li>
                        </ol>

                        <div>
                            <div class="col-md-12" id='homeworkBox-opened'>
                                <h3 class="col-md-12">{{ announcement.title }}</h3>
                                <div class="col-md-12">
                                    <span class="small"> {{ 'admin.subjects.announcements.created'|trans }}: {{ announcement.created|date("d.m.Y H:i:s") }}</span>
                                    {% if announcement.created != announcement.updated %}
                                        <span class="small">{{ 'admin.subjects.announcements.updated'|trans }}: {{ announcement.updated|date("d.m.Y H:i") }} ({{ announcement.updatesCount }}x)</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-12">
                                    {{ announcement.content }}
                                </div>
                                {% if announcement.videoURL is defined and announcement.videoURL is not empty and announcement.videoURL!='null' %}
                                    <div class="col-md-12">
                                        <iframe src = "{{ announcement.videoURL }}" id='homeworkVideo-opened'></iframe>
                                    </div>
                                {% endif %}

                                <a class="btn btn-xs btn-warning col-md-2" href="{{ path('route_admin_announcement_edit',
                                    {'id': announcement.subject.id,
                                        'announcementId': announcement.id}) }}">
                                    <i class="fa fa-fw fa-pencil"></i>
                                    {{ 'admin.subjects.announcements.edit'|trans }}
                                </a>
                                <a class="btn btn-xs btn-danger col-md-2" href="{{ path('route_admin_announcement_delete',
                                    {'id': announcement.subject.id,
                                        'announcementId': announcement.id}) }}">
                                    <i class="fa fa-fw fa-remove"></i>
                                    {{ 'admin.subjects.announcements.delete'|trans }}
                                </a>
                            </div>
                        </div>

                    {% else %}
                        <div class="title">{{ 'permission.warning.title'|trans }}</div>
                        <p class="empty">{{ 'permission.denied.admin'|trans }}</p>
                    {% endif %}
                </div>
            </div>
            <br>

            {% if announcement.getComments()|length > 0 %}
                {% for comment in announcement.getComments() %}

                    {% if comment.user.getId() == user.getId() %}
                        {% set color = '#e6f7ff' %}
                    {% else %}
                        {% set color = '#ffffff' %}
                    {% endif %}
                    <div class="col-sm-5" style="width:50%; clear:both">
                        <div class="panel panel-default" style="background-color: {{ color }}">
                            <div class="panel-heading">
                                <strong>{{ comment.user.firstName }} {{ comment.user.lastName }}</strong> <span class="text-muted">{{ 'comments.commented'|trans }} {{ comment.date|date("d.m.Y H:i:s") }}</span>
                                <a href="{{ path('route_admin_announcement_forum_delete', {'id': id, 'announcementId': announcement.id, 'commentId': comment.id}) }}"
                                   class="btn btn-xs btn-danger" style="float:right; margin-right:10px;padding-top:4px">
                                    <i class="glyphicon glyphicon-remove" style="font-size: 1.25em"></i>
                                </a>
                                <a href="{{ path('route_admin_announcement_forum_switch', {'id': id, 'announcementId': announcement.id, 'commentId': comment.id}) }}"
                                   class="btn btn-xs btn-success" style="float:right; margin-right:10px;padding-top:4px">
                                    {% if comment.getValuated() == 1 %}
                                        <i class="glyphicon glyphicon-check" style="font-size: 1.25em"></i>
                                    {% else %}
                                        <i class="glyphicon glyphicon-unchecked" style="font-size: 1.25em"></i>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="panel-body">
                                {{ comment.content }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{{ 'comments.empty'|trans }}</p>
                <br>
            {% endif %}



            <form class="form-horizontal" role="form" method="POST" action="{{ url }}">
                    <div class="form-group">
                        <div>
                            {{ form_errors(form.content) }}
                        </div>
                        <div class="col-md-7">
                            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '4', 'style': 'width:85%;overflow-x: hidden;margin-left: 5px'}}) }}
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 5px">
                        <button class="col-md-2 btn btn-info" type="submit">
                            <i class="fa fa-fw fa-plus-circle"></i>
                            {{ 'comments.add'|trans }}</button>
                    </div>
            </form>
        </div>
    </div>

{% endblock robisk_application_content %}
