{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}
    {% include 'RobiskApplicationBundle:Common:flash_messenger.html.twig' %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if is_granted('ROLE_ADMIN') %}

                        <h1 class="page-header">{{ 'admin.users.title'|trans }}</h1>

                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-fw fa-users"></i>
                                {{ 'admin.users.title'|trans }}
                            </li>
                        </ol>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'admin.users.table.name'|trans }}</th>
                                    <th>{{ 'admin.users.table.email'|trans }}</th>
                                    <th>{{ 'admin.users.table.options'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.getNameRev }}</td>
                                        <td>{{ user.getEmail }}</td>
                                        <td>
                                            <a class="btn btn-xs btn-danger" href="{{ path('route_admin_reset_password',
                                                {userId: user.getId}) }}">
                                                    <i class="fa fa-fw fa-shield"></i>
                                                    {{ 'admin.users.table.reset'|trans }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                    {% else %}
                        <div class="title">{{ 'permission.warning.title'|trans }}</div>
                        <p class="empty">{{ 'permission.denied.admin'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock robisk_application_content %}